* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --banner-bg-clr: #374151;
    --banner-accent-clr-light: #d1d5db;
    --banner-accent-clr-md: #9ca3af;
    --banner-accent-clr-dark: #4b5563;
    --banner-txt-clr: #e5e7eb;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
}

.page-title {
    margin-bottom: 2rem;
    color: var(--banner-txt-clr);
}

.banner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 50rem;
    background-color: var(--banner-bg-clr);
    /* Beveled corner */
    clip-path: polygon(3% 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 4%);
    color: var(--banner-txt-clr);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 4px solid #fff;
}

.banner__left-col {
    padding: 1.5rem;
    display: grid;
    justify-items: center;
    align-content: space-between;
}

/* Diamond */
.banner__left-col__diamond {
    padding: 1rem;
    transform: rotate(-45deg);
    box-shadow:
        0 0 0 2px var(--banner-accent-clr-dark),
        0 0 0 4px var(--banner-bg-clr),
        0 0 0 6px var(--banner-accent-clr-md);
}

.banner__left-col__diamond__txt {
    transform: rotate(45deg);
    font-size: 1.5rem;
    font-weight: 700;
}

.banner__left-col__box-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 100%;
    width: 90%;
}

.banner__box-container__box {
    padding: .5rem;
    padding-left: .5rem;
    border: 1px solid var(--banner-accent-clr-md);
    border-left: 3px solid var(--banner-accent-clr-md);
}

.banner__box-container__box__title {
    margin-bottom: .25rem;
}

.banner__divider {
    border-left: 2px solid var(--banner-accent-clr-md);
}

.fig {
    background: conic-gradient(from .5turn at center left, lime, cyan);
}

.banner__right-col__img {
    width: 100%;
    height: auto;
}